include header 
html 
    head 
        title Template Engine Pug
        meta(
            charset='UTF-8'
            name='viewport'
        )
    body 
        h1 Assalamu alaykum
        p #{productName}
        p #{productQuality}